@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor0:white;
    --cor1:#6B6BF2;
    --cor2:#2221F0;
    --cor3:#1A1ABD;
    --cor4:#313170;
    --cor5:#101070;
    --cor6:black;
}

body{
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor6), var(--cor4));
}

nav ul{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

 nav a{
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

nav a:hover{
    color: #f5f5f5;
}

header img{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    border:3px solid var(--cor1);
}

header > div{
    text-align: center;
}

header > h1, h2{
    margin:20px 0px ;
}

header > h1{
    color: var(--cor1);
    font-size: 2.3em;
}

header > h2{
    font-size: 1.8em;
}

section > h3{
    margin: 20px 0px;
}

footer{
    margin-top: 50px;
}

footer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
    padding: 10px;
    color: white;
    text-align: center;
}

footer > a > p{
    padding-top: 10px;
}


::-webkit-scrollbar{
    background-color: black;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor3);
    border-radius: 5px;
}



#principal{
    padding: 30px 50px;
}

#atual_pag{
    color: var(--cor0);
    font-weight: bold;
}
