@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor0:white;
    --cor1:#6B6BF2;
    --cor2:#2221F0;
    --cor3:#1A1ABD;
    --cor4:#313170;
    --cor5:#101070;
    --cor6:black;
}

body{
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor6), var(--cor4));
    background-repeat: no-repeat;
    height: 100vh;
}

header > div{
    text-align: center;
    padding-top: 30px;
    color: var(--cor2);
    font-size: 2.5rem;
    margin: 2rem;
}

nav ul{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: var(--cor1);
    font-size: larger;
}


main > section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

main > section  div{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    margin: 15px 15px 15px 15px;   
    border: 5px solid var(--cor2);
    justify-content: space-evenly;
}

::-webkit-scrollbar{
    background-color: var(--cor6);
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor3);
    border-radius: 5px;
}


#projeto_01{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    justify-content: center;
    
    
}

#projeto_01 > img{
    width: 100px;
    height: 100px;
}


#projeto_01:hover > img{
    width: 150px;
    height: 150px;
}

.em_breve{
    background-image: url(imgs/faixa-em-breve.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#principal{
    padding: 30px 50px;
}

#atual_pag{
    color: white;
    font-weight: bold;
}

